/* GLOBAL */
:root {
  --black: #000;
  --white: #fff;
  --grey: #212A2F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  padding-left: 1390px;
}

.background {
  background-image: url(/assets/image/header/BG.png);
  width: 100%;
  height: 900px;
}

.header {
  width: 100%;
  display: flex;
}

.logo {
  padding: 21px 333px 0px 300px;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 500px;
  padding-top: 33px;
  justify-content: space-between;
}

.section {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
}

.account {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-top: 18px;
}

.login {
  padding-right: 24px;
  padding-top: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.sign {
  width: 110px;
  height: 56px;
  background-color: #FFC814;
  color: black;
  border-radius: 4px;
}
.sign:hover {
  background-color: #c5c5c5;
  opacity: 60%;
  transition: 0.8s;
}
.sign:active {
  transform: scale(1, 0.5);
}

.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  color: #1F3347;
}
.wrap {
  display: flex;
  flex-direction: column;
  padding-top: 118px;
  padding-left: 300px;
  width: 750px;
}

.part {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  /* or 119% */
  color: #FFFFFF;
  padding-bottom: 17px;
}

.describe {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */
  color: #FFFFFF;
  padding-bottom: 37px;
}

.get {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
}

.more {
  width: 110px;
  background: #FFFDFD;
  border-radius: 4px;
}

.content {
  max-width: 1000px;
  margin: 0% auto;
  padding-top: 150px;
}

.tabs__items {
  display: flex;
  width: 600px;
}

.tabs__item {
  width: 180px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  padding-top: 11px;
  padding-right: 60px;
  padding-left: 10px;
  color: #1F3347;
  border-radius: 4px 4px 0px 0px;
}

.tabs__item:nth-child(1) {
  background-color: yellow;
  box-shadow: 0px 6px 24px #E4E2EE;
}

.tabs__item:nth-child(2) {
  background-color: white;
  box-shadow: 0px 6px 24px #E4E2EE;
}
.tabs__item:nth-child(2):active {
  background-color: yellow;
}

.tabs__item:nth-child(3) {
  background-color: white;
  box-shadow: 0px 6px 24px #E4E2EE;
}

.tabs__item:nth-child(4) {
  background-color: white;
  box-shadow: 0px 6px 24px #E4E2EE;
}

.tabs__block {
  margin: 0% auto;
  width: 1000px;
  height: 162px;
  display: none;
}

.ul {
  padding-top: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #1F3347;
}

.tabs__block:nth-child(1) {
  background-color: #d3d3d3;
  box-shadow: 0px 6px 24px #E4E2EE;
}

.tabs__block:nth-child(2) {
  background-color: #f018de;
  box-shadow: 0px 6px 24px #E4E2EE;
}

.tabs__block:nth-child(3) {
  background-color: #47281f;
}

.tabs__block:nth-child(4) {
  background-color: #357cc4;
}

.tabs__block:target {
  display: block;
}

.inner {
  width: 1400px;
  margin: 0% auto;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
}

.foto {
  display: flex;
  flex-direction: row;
}

.mountain {
  position: absolute;
}

.girl {
  position: relative;
  padding: 297px 0px 0px 211px;
}

.col {
  display: flex;
  flex-direction: row;
  padding: 101px 0px 0px 0px;
}

.txt {
  display: flex;
  flex-direction: column;
  width: 521px;
}

.about {
  font-family: "Quick Kiss Personal Use";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 15px;
  /* or 62% */
  color: #FFC814;
}

.info {
  padding-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  /* or 133% */
  text-transform: capitalize;
  color: #1F3347;
}

.paragrph {
  padding-top: 29px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #9DA1B4;
}

.list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.list__txt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 225% */
  color: #9DA1B4;
}

.number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding-top: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  /* identical to box height, or 78% */
  color: #FFC814;
}

.ava {
  width: 300px;
  padding-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
  color: #9DA1B4;
}/*# sourceMappingURL=style.css.map */