    /* GLOBAL */
    
    :root {
        --black: #000;
        --white: #fff;
        --grey: #212A2F;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top{
        padding-left: 1390px;
    }
    .background{
        background-image: url(/assets/image/header/BG.png);
        width: 100%;
        height: 900px;
    }
@import '_header.scss';
@import '_wrap.scss';
