    /* GLOBAL */
    
    :root {
        --black: #000;
        --white: #fff;
        --grey: #212A2F;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top{
        padding-left: 1390px;
    }
@import '_header.scss';
@import '_start.scss';
@import '_revard.scss';
@import '_product.scss';
@import '_brand.scss';
@import '_arka.scss';
@import '_fear.scss';
@import '_merchants.scss';
@import '_letsget.scss';
@import '_footer.scss';
